:root {
    --color-red: red;
    --color-green: green;
    --color-darkgray: #555;
    --color-lightgray: #e0e0e0;
    --color-lightblue: #2c7fc1;
    --color-darkblue: #021f59;
    --color-black: #000;
    --color-yellow: yellow;
    --color-darklink: #20689a;
    --color-lightlink: #6aacdc;
}

/*-----------------------------------TAGS-----------------------------------------------------------*/

html {
    box-sizing: border-box;
    padding: 0;
}

/*html {*/
/*position: relative;*/
/*}*/

/*html::after {*/
/*content: "";*/
/*background: url("../img/back.jpeg");*/
/*background-size: 100%;*/
/*opacity: 0.5;*/
/*top: 0;*/
/*left: 0;*/
/*bottom: 0;*/
/*right: 0;*/
/*position: absolute;*/
/*z-index: +1;*/
/*}*/

div {
    font-family: bhoma;
}

p, span {
    font-family: bhoma;
    direction: rtl;
}

td, th {
    direction: rtl;
}

td {
    vertical-align: top;
}

th {
    max-width: 100px;
    vertical-align: bottom;
}

div[class^="col"] {
    padding: 0;
}

/*-----------------------------------CLASSES-----------------------------------------------------------*/

.pad {
    padding: 60px;
    text-align: left;
}

.top {
    height: 350px;
}

.row {
    text-align: center;
    vertical-align: middle;
    overflow: hidden;;
}

.data {
    border-radius: 350px 0px 0px 350px;
    background-color: var(--color-lightgray);
    text-align: right;
    margin: 0px 0px 30px 0px;
    padding: 0px 30px 15px 30px;
}

.tblcontainer {
    margin-top: 20px;
    padding: 0px 60px 0px 30px;
}

.tabletitle {
    color: var(--color-lightblue);
    font-weight: bold;
    font-size: 1.7em;
    margin-right: 25px;
    padding: 0;
    height: 1em;
}

.tablekey {
    padding: 2px 0px 2px 10px;
    width: 47%;
    color: var(--color-black);
    font-weight: bold;
    font-size: 1.5em;
}

.tablevalue {
    text-align: right;
    padding: 2px 10px 2px 0px;
    width: 53%;
    color: var(--color-darkgray);
    font-size: 1.5em;
}

.tabletext {
    text-align: center;
    padding: 2px 10px 2px 10px;
    color: var(--color-black);
    font-size: 1.25em;
    line-height: 1.7em;
}

.tabletextkey {
    text-align: left;
    padding: 2px 10px 2px 10px;
    color: var(--color-black);
    font-size: 1.25em;
    line-height: 1.7em;
    width: 45%;
}

.tabletitlebig {
    color: var(--color-lightblue);
    font-weight: bold;
    font-size: 2em;
    padding: 0;
}

.linebreak {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 5px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: var(--color-lightblue);
    border-radius: 50%;
    float: left;
}

.line {
    position: relative;
    left: -5px;
    width: 100%;
    height: 5px;
    background-color: var(--color-lightblue);

}

.label {
    color: var(--color-lightblue);
    font-size: 2em;
    margin-left: 20px;
}

.darkdot {
    height: 10px;
    width: 10px;
    background-color: var(--color-darkblue);
    border-radius: 50%;
    float: left;
}

.darkline {
    position: relative;
    left: -5px;
    width: 100%;
    height: 5px;
    background-color: var(--color-darkblue);
}

.darklabel {
    color: var(--color-darkblue);
    font-size: 2em;
    margin-left: 20px;
}

.left {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    float: right;
}

.borderbottom {
    border-bottom-style: solid;
    border-bottom-color: var(--color-yellow);
}

.borderright {
    border-right-style: solid;
    border-right-color: var(--color-yellow);
    vertical-align: middle;
    padding-right: 5px;
    padding-left: 35px;
}

.borderleft {
    border-left-style: solid;
    border-left-color: var(--color-yellow);
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 35px;
}

.report {
    width: 80%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

.reportcontainer {
    width: 80%;
    padding: 30px 0px 0px 10%;
}

.logocontainer {
    vertical-align: bottom;
}

.reportchart {
    width: calc(100% - 40px);
    margin-top: 20px;
    height: 10%;
    border-radius: 100px;
    background-image: linear-gradient(to right, red, yellow, green);
    padding: 10px 20px 0px 20px;
    position: relative;
}

.reportchart > div:not(:first-child) {
    border-left-style: solid;
    border-left-color: #fff;
    border-left-width: 2px;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
}

.pointer {
    width: 30px;
    height: 80px;
    object-fit: contain;
    object-position: bottom;
    position: absolute;
    left: 10%;
    bottom: 33%
}

.darkpointer {
    width: 30px;
    height: 80px;
    object-fit: contain;
    object-position: bottom;
    position: absolute;
    left: 80%;
    bottom: 33%
}

.sell {
    text-align: left;
    float: left;
    width: calc(50% - 20px);
    color: var(--color-red);
    margin-left: 20px;
    font-size: 1.5em;
}

.buy {
    text-align: right;
    float: left;
    width: calc(50% - 20px);
    color: var(--color-green);
    margin-right: 20px;
    font-size: 1.5em;
}

.fundamental {
    text-align: left;
    float: left;
    width: 45%;
    color: var(--color-lightblue);
    margin-left: 5%;
    font-size: 1.5em;
}

.technical {
    text-align: right;
    float: left;
    width: 45%;
    color: var(--color-darkblue);
    margin-right: 5%;
    font-size: 1.5em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    width: 65%;
    object-fit: contain;
    margin-top: 14px;
}

.linkcontainer {
    height: 40px;
}

.linklogo {
    height: 100%;
}

.chart {
    padding-left: 50px;
    width: calc(100% - 50px);
    min-height: 570px;
    display: inline-block;
    position: relative;
}

.title {
    margin: 0;
    font-size: 4.5em;
}

.subtitle {
    margin: 0;
    font-size: 2em;
}

.bottomlogo {
    width: 33%;
    margin-left: 33px;
}

.col20 {
    text-align: center;
    float: left;
    width: calc(20% - 6px);
    height: 100%;
}

.col33 {
    text-align: center;
    float: left;
    width: 33%;
}

.col67 {
    text-align: center;
    float: left;
    width: 67%;
}

.col50 {
    text-align: center;
    float: left;
    width: 50%;
}

.col25 {
    text-align: center;
    float: left;
    width: 25%;
}

.col40 {
    text-align: center;
    float: left;
    width: 40%;
    height: 100%;
}

.col60 {
    text-align: center;
    float: left;
    width: 60%;
}

.col30 {
    text-align: center;
    float: left;
    width: 30%;
    height: 100%;
}

.col63 {
    text-align: center;
    float: left;
    width: 63%;
}

.col37 {
    text-align: center;
    float: left;
    width: 37%;
}

.floatright {
    float: right;
}

.fullheight {
    height: 100%;
}

.fullwidth {
    width: 100%;
}

.horizcenter {
    margin-left: auto;
    margin-right: auto;
}

.tobottom {
    height: 100%;
    vertical-align: bottom;
    /*display: flex;                   !* defines flexbox *!*/
    /*flex-direction: column;*/
    /*align-items: flex-end;*/
}

.tocenter {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toleft {
    margin-left: 20px;
    margin-right: auto;
    text-align: left;
}

.allignleft {
    text-align: left;
}

.allignright {
    text-align: right;
}

.toright {
    margin-right: 20px;
    margin-left: auto;
    text-align: right;
}

.rlmargins {
    margin-left: 5px;
    margin-right: 5px;
}

.margintop {
    margin-top: 25px;
}

.margintopmini {
    margin-top: 0;
}

.txtwhite {
    color: #fff;
}

.txtblack {
    color: var(--color-black);
}

.txtblue {
    color: var(--color-lightblue);
}

.txtred {
    color: var(--color-red);
}

.linkdark {
    color: var(--color-darklink);
    font-size: 2em;
    text-decoration: none;
    font-family: calibri;
}

.linklight {
    color: var(--color-lightlink);
    font-size: 2em;
    text-decoration: none;
    font-family: calibri;
}

.txtgreen {
    color: var(--color-green);
}

.txtgray {
    color: var(--color-darkgray);
}

@media screen and (min-width: 1600px) {
}

@media screen and (max-width: 1600px) {
    .data {
        border-radius: 50px 0px 0px 50px;
    }

    .tabletitlebig {
        font-size: 1.5em;
    }

    .borderright {
        padding-left: 20px;
    }

    .borderleft {
        padding-right: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .top {
        height: 230px;
    }

    .title {
        font-size: 2.5em;
    }

    .subtitle {
        font-size: 1em;
    }

    .fundamental {
        font-size: 1.2em;
    }

    .technical {
        font-size: 1.2em;
    }

    .linklight {
        font-size: 1.5em;
    }

    .linkdark {
        font-size: 1.5em;
    }

    .linklogo {
        height: 70%;
    }

    .tabletext {
        font-size: 1em;
        line-height: 1.5em;
    }

    .tabletextkey {
        font-size: 1em;
        line-height: 1.5em;
    }

    .tablekey {
        font-size: 1em;
    }

    .tablevalue {
        font-size: 1em;
    }

    .margintop {
        margin-top: 10px;
    }

    .margintopmini {
        margin-top: 10px;
    }

    .tblcontainer {
        padding: 0 20px 0 10px;
    }

    .pad {
        padding: 10px;
    }

    .chart {
        padding-left: 0px;
        width: 100%;
    }

    .borderright {
        padding-left: 0px;
    }

    .borderleft {
        padding-right: 0px;
    }
}

@media screen and (max-width: 992px) {
    .data {
        border-radius: 0;
    }

}

@media screen and (max-width: 768px) {
    .tabletitlebig {
        font-size: 1em;
    }
}

@media (max-width: 540px) {
    .top {
        height: 250px;
    }

    .title {
        font-size: 1.5em;
    }

    .tabletitle {
        margin-right: 0;
    }

    .tblcontainer {
        padding: 0;
        overflow-x: auto;
    }

    .label {
        font-size: 1.25em;
        margin: 0;
        padding: 0;
    }

    .darklabel {
        font-size: 1.25em;
        margin: 0;
        padding: 0;
    }
}

@font-face {
    font-family: bhoma;
    src: url(../fonts/bhoma.ttf);
}

@font-face {
    font-family: calibri;
    src: url(../fonts/calibri.ttf);
}